:root{
    --cor-de-fundo:#650368;
    --verde: #3d553a;
    --branco: #f3f1f2;
    --botao-ativo: #e4d7e0;
    --botao-inativo: rgb(165, 24, 170);
    --texto-fundo: rgba(240, 224, 240, 0.774);
}

*{
  background-color: var(--cor-de-fundo);
  color: var(--branco);
}

span{
  color: var( #68034a);
}
.conteudo-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.titulo-principal{
  text-align: center;
  width: 100%;
  font-size: 32px;
}

.botoes{
  display: block;
}

.botao{
  background-color: var(--botao-inativo);
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  padding: 1em;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
}

.botao:first-child{
    border-radius: 20px 0 0px 20px;
}

.botao:last-child{
  border-radius: 0 20px 20px 0;
}

@media  screen and (min-width: 700px) {
  .botoes{
      display: flex
  }
  botao:first-child{
    border-radius: 20px 0 0px 20px;
}
.botao:last-child{
  border-radius: 0 20px 20px 0;
}
}